@keyframes burst {
    0% { 
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

body {
  position: relative; /* Needed to position the pseudo-element */
  margin: 0; /* Optional: removes the default margin of the body */
  height: 100%; /* Ensure it covers the full viewport height */
  min-height: 100vh; /* Use viewport height to cover the full screen */
}

body::before {
  content: ""; /* Required for the pseudo-element to work */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/images/hearts background.webp'); /* Your image */
   /* No repeat */
  background-size: contain; /* Cover the full area */
  opacity: 0.3; /* Set the opacity to 20% */
  z-index: -1; /* Ensure the background is behind the content */
}


.head1{
    padding-top: 20px;
    text-align: center;
    font-size: 40px;
    color: rgb(255,100,180);
    font-family: "Pacifico", sans-serif;
}

.bless{
    
    padding-top: 20px;
    text-align: center;
    font-size: clamp(35px, 4vw, 50px);
    font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
}



.openimage{
    max-width: 25%;
    border-radius: 50%;
    width: 200px; /* or any other size */
    height: 200px; /* should be the same as width to make it a perfect circle */
    object-fit: cover;
    border: 7px rgb(239,160,180,0.5) solid;  

    
}

@media (max-width: 786px) {
    .openimage {
        max-width: 50%;
        
    }
    
    
}

@keyframes customPulse {
    0% {
        transform: scale(1); /* Original size */
    }
    50% {
        transform: scale(1.5); /* Adjust scale value to make it pulse bigger */
    }
    100% {
        transform: scale(1); /* Return to original size */
    }
}

.animate__animated.customPulse {
    display: inline-block; /* Ensures it's treated as block-level for transformations */
    animation: customPulse 2s infinite ease-in-out; /* Apply custom animation */
}

.heart {
    position: absolute;
    font-size: 2em; /* Adjust size as needed */
    animation: burst 1s ease-out forwards;
    user-select: none; /* Prevent selection of text on double click */
}

.imagecontainer{
    width: 100%; /* Ensures it spans the full width of its parent */
    text-align: center;
    transition: transform 1s ease;
    display: inline-block;
}


.imagecontainer:hover {
    transform: scale(1.1);
    transition: transform 1s ease; 
}

