body, html {
    height: 100%;
    margin: 0;
}

body::before {
    content: "";
    position: fixed; /* Use fixed to cover the whole screen */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/menu_background.jpg'); /* Update this path */
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
}