

body::before {
            content: "";
            position: fixed; /* Cover the entire viewport */
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('/images/menu_background.jpg'); /* Path to your image */
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover; /* Cover ensures aspect ratio is maintained */
            z-index: -1;
        }
body, html {
        height: 100%;
        margin: 0;
        }




#screen-size{
    font-size: 30px;
    text-align: center;
    padding-top: 40px;
}

.menutitle{
    text-align: center;
    font-family: "lemonada",sans-serif;
    font-size: 30px;
}

