
body {
  position: relative; /* Needed to position the pseudo-element */
  margin: 0; /* Optional: removes the default margin of the body */
  height: 100%; /* Ensure it covers the full viewport height */
  min-height: 100vh; /* Use viewport height to cover the full screen */
}

body::before {
  content: ""; /* Required for the pseudo-element to work */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/images/hearts background.webp'); /* Your image */
   /* No repeat */
  background-size: contain; /* Cover the full area */
  opacity: 0.3; /* Set the opacity to 20% */
  z-index: -1; /* Ensure the background is behind the content */
}





.centered-form-container {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh; /* Use at least the full height of the viewport */
        }

        /* Style the form itself */
.centered-form {
            width: 100%;
            max-width: 1000px; /* Adjust this value based on your preference */
            padding: 15px;
            margin: auto;
        
        }

.centered-form label{
            display: flex;
            justify-content: center;
            font-family: "Rubik Bubbles", system-ui;
            
            direction: rtl;
            


}   
